In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path_titanic = '/content/drive/MyDrive/machine learning/tested.csv'

In [ ]:
df = pd.read_csv(path_titanic)

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.shape

(418, 12)

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
df_new =df.drop(columns = ['Cabin','PassengerId','Name','Ticket'])

In [ ]:
df_new.head(162)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  34.5      0      0   7.8292        Q
1           1       3  female  47.0      1      0   7.0000        S
2           0       2    male  62.0      0      0   9.6875        Q
3           0       3    male  27.0      0      0   8.6625        S
4           1       3  female  22.0      1      1  12.2875        S
..        ...     ...     ...   ...    ...    ...      ...      ...
157         1       3  female  23.0      0      0   7.8542        S
158         0       1    male  42.0      0      0  26.5500        S
159         1       3  female  26.0      0      2  13.7750        S
160         1       3  female   NaN      0      0   7.7333        Q
161         0       3    male   7.0      1      1  15.2458        C

[162 rows x 8 columns]

In [ ]:
x = df_new.iloc[:,1:]

In [ ]:
x

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [ ]:
y = df_new.iloc[:,0]

In [ ]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [ ]:
df_new['Parch'].unique()

array([0, 1, 3, 2, 4, 6, 5, 9])

In [ ]:
df_new['SibSp'].unique()

array([0, 1, 2, 3, 4, 5, 8])

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      417 non-null    float64
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
Si = SimpleImputer(strategy = 'mean')

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)

In [ ]:
X_train_age = Si.fit_transform(x_train[['Age','Fare']])
X_test_age = Si.fit_transform(x_test[['Age','Fare']])

In [ ]:
x_train

In [ ]:
X_train_age

array([[1.00000000e+01, 4.69000000e+01],
       [4.50000000e+01, 7.22500000e+00],
       [5.30000000e+01, 2.85000000e+01],
       [2.70000000e+01, 8.66250000e+00],
       [3.00243348e+01, 0.00000000e+00],
       [1.80000000e+01, 3.43750000e+01],
       [2.30000000e+01, 7.05000000e+00],
       [3.90000000e+01, 2.11337500e+02],
       [2.60000000e+01, 2.90000000e+01],
       [3.90000000e+01, 2.97000000e+01],
       [3.00243348e+01, 3.96000000e+01],
       [5.00000000e+01, 1.45000000e+01],
       [5.00000000e+00, 3.13875000e+01],
       [4.00000000e+01, 2.60000000e+01],
       [3.00243348e+01, 7.57500000e+00],
       [2.80000000e+01, 8.05000000e+00],
       [3.70000000e+01, 9.00000000e+01],
       [2.40000000e+01, 6.00000000e+01],
       [3.60000000e+01, 7.52417000e+01],
       [6.70000000e+01, 2.21779200e+02],
       [3.00000000e+01, 1.38583000e+01],
       [3.00000000e+01, 1.55500000e+01],
       [2.20000000e+01, 8.66250000e+00],
       [4.50000000e+01, 3.00000000e+01],
       [2.00000000e+01, 1.38625000e+01],
       [2.20000000e+01, 7.77500000e+00],
       [4.20000000e+01, 3.25000000e+01],
       [2.70000000e+01, 8.66250000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [2.40000000e+01, 6.50000000e+01],
       [1.70000000e+01, 7.89580000e+00],
       [2.00000000e+01, 7.85420000e+00],
       [2.65000000e+01, 7.22500000e+00],
       [1.40000000e+01, 9.22500000e+00],
       [3.60000000e+01, 1.30000000e+01],
       [3.00243348e+01, 7.72080000e+00],
       [2.20000000e+01, 7.72500000e+00],
       [1.90000000e+01, 1.57417000e+01],
       [3.00243348e+01, 1.55000000e+01],
       [2.40000000e+01, 9.32500000e+00],
       [2.30000000e+01, 8.31583000e+01],
       [3.00243348e+01, 7.89580000e+00],
       [3.00000000e+01, 1.30000000e+01],
       [3.80000000e+01, 2.10000000e+01],
       [2.20000000e+01, 7.79580000e+00],
       [4.00000000e+01, 3.13875000e+01],
       [3.00243348e+01, 8.71250000e+00],
       [2.90000000e+01, 2.60000000e+01],
       [4.60000000e+01, 2.60000000e+01],
       [1.70000000e+01, 8.66250000e+00],
       [2.60000000e+01, 7.87920000e+00],
       [2.30000000e+01, 7.79580000e+00],
       [1.90000000e+01, 1.05000000e+01],
       [2.10000000e+01, 1.15000000e+01],
       [2.80000000e+01, 2.60000000e+01],
       [3.00243348e+01, 5.64958000e+01],
       [1.20000000e+01, 3.90000000e+01],
       [1.15000000e+01, 1.45000000e+01],
       [3.25000000e+01, 2.11500000e+02],
       [3.00243348e+01, 7.22920000e+00],
       [5.90000000e+01, 5.14792000e+01],
       [3.00000000e+01, 4.55000000e+01],
       [2.30000000e+01, 7.85420000e+00],
       [2.60000000e+01, 2.20250000e+01],
       [3.00243348e+01, 7.22500000e+00],
       [6.30000000e+01, 2.21779200e+02],
       [3.00243348e+01, 8.05000000e+00],
       [3.20000000e+01, 8.05000000e+00],
       [3.00000000e+01, 6.95000000e+00],
       [6.00000000e+00, 1.52458000e+01],
       [2.40000000e+01, 3.15000000e+01],
       [2.85000000e+01, 2.77208000e+01],
       [2.20000000e+01, 2.10000000e+01],
       [3.00243348e+01, 1.45000000e+01],
       [2.60000000e+01, 1.37750000e+01],
       [2.60000000e+01, 7.77500000e+00],
       [3.00000000e+01, 2.60000000e+01],
       [3.00243348e+01, 7.55000000e+00],
       [6.10000000e+01, 2.62375000e+02],
       [3.20000000e+01, 2.25250000e+01],
       [3.00243348e+01, 8.11250000e+00],
       [2.00000000e+01, 7.85420000e+00],
       [3.10000000e+01, 1.34500000e+02],
       [2.20000000e+01, 3.15000000e+01],
       [1.00000000e+01, 2.91250000e+01],
       [6.00000000e+00, 2.10750000e+01],
       [5.00000000e+01, 2.11500000e+02],
       [2.50000000e+01, 1.05000000e+01],
       [4.20000000e+01, 2.65500000e+01],
       [2.80000000e+01, 7.25000000e+00],
       [3.00243348e+01, 7.05000000e+00],
       [4.30000000e+01, 2.10000000e+01],
       [2.20000000e+01, 5.94000000e+01],
       [3.00243348e+01, 8.05000000e+00],
       [1.80000000e+01, 1.44542000e+01],
       [2.60000000e+01, 1.30000000e+01],
       [2.30000000e+01, 8.05000000e+00],
       [3.00243348e+01, 7.77500000e+00],
       [1.30000000e+01, 2.02500000e+01],
       [3.00243348e+01, 7.75000000e+00],
       [6.10000000e+01, 1.23500000e+01],
       [2.60000000e+01, 1.35000000e+01],
       [4.40000000e+01, 1.30000000e+01],
       [3.00243348e+01, 7.89580000e+00],
       [2.00000000e+01, 2.30000000e+01],
       [2.70000000e+01, 1.50333000e+01],
       [3.00243348e+01, 7.87920000e+00],
       [3.10000000e+01, 2.10000000e+01],
       [4.90000000e+01, 0.00000000e+00],
       [3.00243348e+01, 2.32500000e+01],
       [2.80000000e+01, 2.25250000e+01],
       [5.50000000e+01, 2.77208000e+01],
       [3.30000000e+01, 2.77208000e+01],
       [3.00000000e+01, 7.62920000e+00],
       [2.60000000e+01, 7.89580000e+00],
       [3.90000000e+01, 1.08900000e+02],
       [3.00243348e+01, 7.89580000e+00],
       [2.40000000e+01, 7.85420000e+00],
       [2.70000000e+01, 7.87920000e+00],
       [2.40000000e+01, 1.35000000e+01],
       [3.00243348e+01, 2.34500000e+01],
       [2.60000000e+01, 1.30000000e+01],
       [2.00000000e+01, 7.92500000e+00],
       [2.50000000e+01, 9.50000000e+00],
       [3.00243348e+01, 7.22920000e+00],
       [2.30000000e+01, 1.05000000e+01],
       [3.10000000e+01, 2.85375000e+01],
       [1.80000000e+01, 7.35000000e+01],
       [2.70000000e+01, 7.22500000e+00],
       [6.00000000e+00, 1.34500000e+02],
       [4.10000000e+01, 1.30000000e+01],
       [2.80000000e+01, 7.77500000e+00],
       [3.00000000e+01, 1.64866700e+02],
       [2.30000000e+01, 9.35000000e+01],
       [4.50000000e+01, 6.33583000e+01],
       [4.90000000e+01, 6.50000000e+01],
       [1.00000000e+00, 1.67000000e+01],
       [2.40000000e+01, 1.05000000e+01],
       [3.00243348e+01, 7.75000000e+00],
       [9.00000000e+00, 1.52458000e+01],
       [3.60000000e+01, 1.21833000e+01],
       [2.10000000e+01, 2.41500000e+01],
       [3.80000000e+01, 7.77500000e+00],
       [3.90000000e+01, 7.12833000e+01],
       [2.40000000e+01, 7.75000000e+00],
       [2.00000000e+00, 2.02125000e+01],
       [5.70000000e+01, 1.30000000e+01],
       [2.70000000e+01, 1.36779200e+02],
       [3.60000000e+01, 2.62375000e+02],
       [7.00000000e+00, 1.52458000e+01],
       [2.40000000e+01, 7.25000000e+00],
       [4.70000000e+01, 2.27525000e+02],
       [1.80000000e+01, 8.66250000e+00],
       [3.00243348e+01, 2.60000000e+01],
       [4.30000000e+01, 5.54417000e+01],
       [3.60000000e+01, 1.59000000e+01],
       [3.00243348e+01, 8.05000000e+00],
       [4.05000000e+01, 1.51000000e+01],
       [1.85000000e+01, 1.30000000e+01],
       [1.00000000e+00, 1.21833000e+01],
       [3.00243348e+01, 7.22500000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [3.90000000e+01, 1.34167000e+01],
       [3.00243348e+01, 6.43750000e+00],
       [2.70000000e+01, 5.20000000e+01],
       [3.00000000e+01, 1.30000000e+01],
       [6.20000000e+01, 9.68750000e+00],
       [2.10000000e+01, 7.22500000e+00],
       [2.10000000e+01, 6.13792000e+01],
       [3.60000000e+01, 9.50000000e+00],
       [2.70000000e+01, 7.85420000e+00],
       [5.50000000e+01, 1.35633300e+02],
       [6.00000000e+01, 2.60000000e+01],
       [3.00000000e+00, 1.37750000e+01],
       [3.00000000e+01, 2.10000000e+01],
       [5.50000000e+01, 9.35000000e+01],
       [4.60000000e+01, 7.52417000e+01],
       [1.70000000e+01, 7.35000000e+01],
       [3.00000000e+01, 5.77500000e+01],
       [1.70000000e+01, 4.71000000e+01],
       [4.10000000e+01, 1.50458000e+01],
       [3.00243348e+01, 6.43750000e+00],
       [3.00243348e+01, 1.28750000e+01],
       [2.00000000e+01, 2.60000000e+01],
       [3.00243348e+01, 7.55000000e+00],
       [3.00243348e+01, 7.77920000e+00],
       [1.80000000e+01, 8.05000000e+00],
       [3.00243348e+01, 5.18625000e+01],
       [3.30000000e+01, 1.51550000e+02],
       [2.40000000e+01, 7.77500000e+00],
       [3.30000000e+01, 8.05000000e+00],
       [3.90000000e+01, 7.22920000e+00],
       [1.70000000e-01, 2.05750000e+01],
       [2.10000000e+01, 7.77500000e+00],
       [2.50000000e+01, 3.15000000e+01],
       [3.00000000e+01, 1.51550000e+02],
       [4.10000000e+01, 7.85000000e+00],
       [2.90000000e+01, 2.60000000e+01],
       [4.20000000e+01, 2.65500000e+01],
       [2.90000000e+01, 2.30000000e+01],
       [3.40000000e+01, 2.60000000e+01],
       [2.40000000e+01, 2.77208000e+01],
       [3.00243348e+01, 7.75000000e+00],
       [3.00243348e+01, 8.05000000e+00],
       [2.10000000e+01, 7.75000000e+00],
       [3.60000000e+01, 3.16792000e+01],
       [1.80000000e+01, 7.75000000e+00],
       [3.00243348e+01, 1.44542000e+01],
       [3.30000000e-01, 1.44000000e+01],
       [4.00000000e+01, 1.60000000e+01],
       [3.00243348e+01, 7.73330000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [3.50000000e+01, 1.23500000e+01],
       [3.00243348e+01, 1.45000000e+01],
       [3.45000000e+01, 7.82920000e+00],
       [3.00243348e+01, 1.55000000e+01],
       [3.00243348e+01, 2.16792000e+01],
       [2.70000000e+01, 7.89580000e+00],
       [3.85000000e+01, 7.25000000e+00],
       [3.50000000e+01, 7.75000000e+00],
       [2.10000000e+01, 1.15000000e+01],
       [3.60000000e+01, 7.25000000e+00],
       [1.90000000e+01, 1.61000000e+01],
       [2.25000000e+01, 7.22500000e+00],
       [2.50000000e+01, 7.22920000e+00],
       [8.00000000e+00, 2.60000000e+01],
       [2.20000000e+01, 7.22500000e+00],
       [2.90000000e+01, 1.38583000e+01],
       [3.60000000e+01, 3.90000000e+01],
       [3.00243348e+01, 7.87920000e+00],
       [3.00243348e+01, 7.87920000e+00],
       [2.10000000e+01, 7.89580000e+00],
       [3.20000000e+01, 7.77500000e+00],
       [2.50000000e+01, 2.60000000e+01],
       [5.70000000e+01, 1.46520800e+02],
       [4.30000000e+01, 2.77208000e+01],
       [5.40000000e+01, 5.54417000e+01],
       [4.70000000e+01, 1.05000000e+01],
       [2.80000000e+01, 2.63000000e+02],
       [3.00243348e+01, 1.55792000e+01],
       [5.70000000e+01, 1.64866700e+02],
       [7.60000000e+01, 7.88500000e+01],
       [3.00243348e+01, 8.05000000e+00],
       [3.00243348e+01, 1.44583000e+01],
       [2.40000000e+01, 7.55000000e+00],
       [2.20000000e+01, 1.22875000e+01],
       [1.85000000e+01, 7.28330000e+00],
       [2.90000000e+01, 7.92500000e+00],
       [3.70000000e+01, 7.75000000e+00],
       [2.10000000e+01, 7.82080000e+00],
       [2.20000000e+01, 6.19792000e+01],
       [3.00243348e+01, 7.75000000e+00],
       [2.70000000e+01, 2.47520800e+02],
       [2.40000000e+01, 8.05000000e+00],
       [3.10000000e+01, 1.80000000e+01],
       [6.00000000e+01, 2.63000000e+02],
       [2.20000000e+01, 1.05000000e+01],
       [1.50000000e+01, 3.90000000e+01],
       [6.00000000e+01, 7.62917000e+01],
       [2.50000000e+01, 7.92500000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [4.30000000e+01, 7.89580000e+00],
       [3.00243348e+01, 7.00000000e+00],
       [9.00000000e+00, 3.17080000e+00],
       [2.20000000e+01, 8.96250000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [3.20000000e+01, 7.57920000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [4.70000000e+01, 4.24000000e+01],
       [2.10000000e+01, 2.65500000e+01],
       [3.00243348e+01, 6.95500000e+01],
       [4.90000000e+01, 2.60000000e+01],
       [6.40000000e+01, 8.31583000e+01],
       [2.10000000e+01, 7.79580000e+00],
       [6.05000000e+01, 3.27635165e+01],
       [4.50000000e+01, 2.97000000e+01],
       [2.10000000e+01, 8.66250000e+00],
       [5.00000000e+01, 2.60000000e+01],
       [3.00243348e+01, 7.22920000e+00],
       [3.00243348e+01, 7.75000000e+00],
       [2.10000000e+01, 8.05000000e+00],
       [3.00243348e+01, 8.05000000e+00],
       [4.10000000e+01, 3.05000000e+01],
       [3.30000000e+01, 2.05750000e+01],
       [5.30000000e+01, 8.18583000e+01],
       [1.80000000e+01, 1.30000000e+01],
       [2.20000000e+01, 1.05000000e+01],
       [7.50000000e-01, 1.37750000e+01],
       [2.30000000e+01, 8.66250000e+00],
       [9.20000000e-01, 2.77500000e+01],
       [5.00000000e+01, 2.60000000e+01],
       [3.00243348e+01, 7.88750000e+00]])

In [ ]:
X_test_age

array([[ 55.        ,  59.4       ],
       [ 23.        ,  10.5       ],
       [ 25.        ,   7.7958    ],
       [ 29.        ,  22.025     ],
       [ 48.        , 106.425     ],
       [ 18.        ,   7.8792    ],
       [ 27.        ,   7.925     ],
       [ 46.        ,  79.2       ],
       [ 47.        ,  61.175     ],
       [ 32.5       ,   9.5       ],
       [ 26.        ,  13.        ],
       [ 45.        , 262.375     ],
       [ 17.        ,   8.05      ],
       [ 30.85686869,  15.2458    ],
       [ 20.        ,  36.75      ],
       [ 16.        ,   8.5167    ],
       [ 30.85686869,   7.75      ],
       [ 45.        ,  59.4       ],
       [ 18.5       ,   7.2292    ],
       [ 21.        ,  21.        ],
       [ 24.        ,   8.6625    ],
       [ 31.        ,   7.7333    ],
       [ 18.        ,  60.        ],
       [ 18.        ,  10.5       ],
       [ 30.        ,  13.        ],
       [ 30.85686869,  25.4667    ],
       [  0.83      ,   9.35      ],
       [ 51.        ,  39.4       ],
       [ 30.        ,  12.7375    ],
       [ 30.85686869,   7.25      ],
       [ 21.        ,   6.4958    ],
       [ 23.        ,  82.2667    ],
       [ 23.        ,  13.9       ],
       [ 48.        ,  50.4958    ],
       [ 25.        ,  55.4417    ],
       [ 35.        , 211.5       ],
       [ 22.        ,  39.6875    ],
       [ 32.        ,  13.        ],
       [ 22.        ,   8.05      ],
       [ 58.        , 512.3292    ],
       [ 29.        ,  26.        ],
       [  8.        ,  32.5       ],
       [ 30.85686869,  69.55      ],
       [ 35.        ,  57.75      ],
       [ 30.        ,  26.        ],
       [ 30.85686869,  27.7208    ],
       [ 13.        , 262.375     ],
       [ 36.5       ,  17.4       ],
       [ 16.        ,   7.65      ],
       [ 29.        , 221.7792    ],
       [ 37.        ,  83.1583    ],
       [ 30.85686869,  15.0458    ],
       [ 45.        ,  52.5542    ],
       [ 18.        ,   7.2292    ],
       [ 30.85686869,   7.8958    ],
       [ 48.        , 262.375     ],
       [ 26.        ,   7.775     ],
       [ 25.        ,   7.65      ],
       [ 48.        ,  79.2       ],
       [ 30.85686869,  23.45      ],
       [ 32.        ,  13.5       ],
       [ 30.85686869,   7.75      ],
       [ 30.85686869,  22.3583    ],
       [ 30.85686869,   8.05      ],
       [ 24.        ,   7.75      ],
       [ 30.85686869,   7.75      ],
       [ 55.        ,  25.7       ],
       [ 27.        ,  26.        ],
       [ 63.        ,  26.        ],
       [ 35.        ,   7.8958    ],
       [ 17.        ,   7.7333    ],
       [ 30.85686869,  26.55      ],
       [ 28.        ,  10.5       ],
       [ 30.85686869,  25.7417    ],
       [ 50.        , 211.5       ],
       [ 30.85686869,  10.7083    ],
       [ 14.        ,  65.        ],
       [ 64.        ,  26.55      ],
       [ 24.        ,  37.0042    ],
       [ 22.        ,  13.9       ],
       [ 40.        ,  13.        ],
       [ 33.        ,   7.8542    ],
       [ 25.        ,   7.8958    ],
       [ 21.        ,   7.8542    ],
       [ 19.        ,  13.        ],
       [ 30.85686869,   8.05      ],
       [ 38.        ,   7.2292    ],
       [ 18.        ,  53.1       ],
       [ 30.85686869,   7.75      ],
       [ 54.        ,  81.8583    ],
       [ 30.85686869,  26.55      ],
       [ 30.85686869,  69.55      ],
       [ 30.85686869,   7.55      ],
       [ 25.        ,  10.5       ],
       [ 13.        ,  31.3875    ],
       [ 30.85686869,  21.        ],
       [ 30.85686869,  16.1       ],
       [ 45.        , 134.5       ],
       [ 30.85686869,  14.4542    ],
       [ 42.        ,  13.        ],
       [ 45.        ,  14.1083    ],
       [ 20.        ,   7.225     ],
       [ 12.        ,  15.75      ],
       [ 14.5       ,  69.55      ],
       [ 47.        ,   7.        ],
       [  1.        ,  41.5792    ],
       [  2.        ,  23.        ],
       [ 17.        ,  16.1       ],
       [ 31.        ,  21.        ],
       [ 64.        ,  75.25      ],
       [ 18.        ,   7.775     ],
       [ 30.85686869,   7.2292    ],
       [ 30.85686869,  21.6792    ],
       [ 30.85686869,  31.6833    ],
       [ 55.        ,  50.        ],
       [ 21.        ,  13.        ],
       [ 29.        ,   7.8542    ],
       [ 33.        ,  26.55      ],
       [ 41.        ,  51.8625    ],
       [ 24.        ,  82.2667    ],
       [ 42.        ,  42.5       ],
       [ 53.        ,  27.4458    ],
       [ 40.        ,  46.9       ],
       [ 26.        , 136.7792    ],
       [ 48.        ,  36.75      ],
       [ 29.        ,   7.925     ]])

In [ ]:
X_train_age.shape

(292, 2)

In [ ]:
ohe = OneHotEncoder(drop = 'first', sparse_output= False)
X_train_sex = ohe.fit_transform(x_train[['Sex','Embarked']])
X_test_sex = ohe.fit_transform(x_test[['Sex','Embarked']])

In [ ]:
X_train_sex.tolist()

[[0.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [0.0, 1.0, 0.0],
 [0.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [0.0, 1.0, 0.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 0.0],
 [1.0, 1.0, 0.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0]]

In [ ]:
x_train

     Pclass     Sex    Age  SibSp  Parch     Fare Embarked
140       3  female  10.00      5      2  46.9000        S
19        3  female  45.00      0      0   7.2250        C
131       1    male  53.00      0      0  28.5000        C
363       3    male  27.00      0      0   8.6625        S
266       1    male    NaN      0      0   0.0000        S
..      ...     ...    ...    ...    ...      ...      ...
281       3    male   0.75      1      1  13.7750        S
280       3  female  23.00      0      0   8.6625        S
250       2  female   0.92      1      2  27.7500        S
30        2    male  50.00      1      0  26.0000        S
243       3    male    NaN      0      0   7.8875        S

[292 rows x 7 columns]

In [ ]:
X_train = x_train.drop(columns = ['Sex','Embarked','Age','Fare']).values

X_test= x_test.drop(columns =  ['Sex','Embarked','Age','Fare']).values

In [ ]:
X_train_age__ = x_train.drop(columns = ['Pclass','Sex','SibSp','Parch','Fare','Embarked'])
X_test_age__ = x_test.drop(columns = ['Pclass','Sex','SibSp','Parch','Fare','Embarked'])

In [ ]:
X_train

array([[3, 5, 2],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 2, 2],
       [3, 0, 0],
       [1, 0, 0],
       [2, 1, 1],
       [1, 0, 0],
       [1, 0, 0],
       [3, 1, 0],
       [3, 4, 2],
       [2, 1, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 1, 0],
       [1, 1, 0],
       [1, 0, 0],
       [1, 1, 0],
       [2, 1, 0],
       [3, 1, 0],
       [3, 2, 0],
       [2, 0, 2],
       [2, 0, 0],
       [3, 0, 0],
       [2, 1, 1],
       [3, 0, 0],
       [3, 0, 0],
       [2, 1, 2],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 1],
       [3, 0, 0],
       [2, 0, 0],
       [2, 1, 0],
       [3, 0, 0],
       [3, 1, 5],
       [3, 0, 0],
       [2, 1, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [2, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [2, 2, 1],
       [3, 1, 1],
       [1, 0, 0],
       [3, 0, 0],
       [1, 2, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [1, 1, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 1, 1],
       [2, 2, 0],
       [1, 0, 0],
       [2, 0, 0],
       [3, 1, 1],
       [3, 0, 2],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [1, 1, 3],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [2, 2, 0],
       [3, 4, 1],
       [3, 3, 1],
       [1, 1, 1],
       [2, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 1],
       [1, 0, 1],
       [3, 0, 0],
       [3, 1, 0],
       [2, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 2],
       [3, 0, 0],
       [2, 0, 0],
       [2, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [2, 2, 1],
       [2, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [1, 0, 0],
       [3, 2, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [3, 1, 2],
       [2, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [1, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [1, 0, 2],
       [2, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 1],
       [2, 1, 2],
       [3, 1, 1],
       [2, 0, 0],
       [3, 1, 0],
       [3, 1, 1],
       [3, 0, 2],
       [3, 2, 0],
       [3, 4, 2],
       [1, 1, 0],
       [3, 0, 0],
       [3, 1, 1],
       [2, 0, 0],
       [1, 1, 0],
       [1, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [1, 1, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 1, 0],
       [3, 0, 2],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 1],
       [3, 0, 0],
       [1, 1, 2],
       [2, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [1, 0, 1],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [2, 1, 0],
       [3, 1, 1],
       [2, 1, 0],
       [1, 1, 1],
       [1, 0, 0],
       [2, 0, 0],
       [1, 1, 0],
       [1, 0, 0],
       [2, 0, 0],
       [3, 1, 0],
       [2, 0, 0],
       [2, 1, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 2],
       [3, 1, 2],
       [3, 0, 0],
       [2, 0, 0],
       [1, 1, 2],
       [3, 0, 0],
       [2, 1, 0],
       [1, 0, 0],
       [2, 0, 2],
       [2, 1, 0],
       [2, 1, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 1, 0],
       [3, 0, 2],
       [2, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 1, 0],
       [3, 2, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 1, 0],
       [3, 0, 0],
       [3, 1, 0],
       [3, 0, 0],
       [3, 0, 0],
       [2, 1, 1],
       [3, 0, 0],
       [2, 0, 0],
       [2, 0, 3],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 1, 0],
       [1, 1, 0],
       [1, 1, 0],
       [2, 0, 0],
       [1, 3, 2],
       [2, 0, 0],
       [1, 1, 1],
       [1, 1, 0],
       [3, 0, 0],
       [3, 1, 0],
       [3, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 1],
       [3, 0, 0],
       [1, 1, 1],
       [3, 0, 0],
       [3, 3, 0],
       [1, 1, 4],
       [2, 0, 0],
       [2, 0, 2],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 1],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [3, 1, 9],
       [1, 0, 0],
       [1, 0, 2],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [3, 0, 0],
       [1, 0, 0],
       [3, 1, 2],
       [1, 1, 1],
       [2, 1, 1],
       [2, 0, 0],
       [3, 1, 1],
       [3, 0, 0],
       [2, 1, 2],
       [2, 1, 0],
       [3, 0, 0]])

In [ ]:
X_train_transformed = np.concatenate((X_train,X_train_age,X_train_sex),axis=1)
X_test_transformed = np.concatenate((X_test,X_test_age,X_test_sex),axis=1)

In [ ]:
df_g =X_train_transformed.tolist()

In [ ]:
df_g

[[3.0, 5.0, 2.0, 10.0, 46.9, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 45.0, 7.225, 0.0, 0.0, 0.0],
 [1.0, 0.0, 0.0, 53.0, 28.5, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 27.0, 8.6625, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0243347639485, 0.0, 1.0, 0.0, 1.0],
 [3.0, 2.0, 2.0, 18.0, 34.375, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 23.0, 7.05, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 39.0, 211.3375, 0.0, 0.0, 1.0],
 [2.0, 1.0, 1.0, 26.0, 29.0, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 39.0, 29.7, 1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0, 30.0243347639485, 39.6, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 50.0, 14.5, 1.0, 0.0, 1.0],
 [3.0, 4.0, 2.0, 5.0, 31.3875, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 40.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.575, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 28.0, 8.05, 1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 37.0, 90.0, 0.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 24.0, 60.0, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 36.0, 75.2417, 1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 67.0, 221.7792, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 30.0, 13.8583, 0.0, 0.0, 0.0],
 [3.0, 1.0, 0.0, 30.0, 15.55, 0.0, 0.0, 1.0],
 [3.0, 2.0, 0.0, 22.0, 8.6625, 0.0, 0.0, 1.0],
 [2.0, 0.0, 2.0, 45.0, 30.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 20.0, 13.8625, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 22.0, 7.775, 1.0, 0.0, 1.0],
 [2.0, 1.0, 1.0, 42.0, 32.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 27.0, 8.6625, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [2.0, 1.0, 2.0, 24.0, 65.0, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 17.0, 7.8958, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 20.0, 7.8542, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 26.5, 7.225, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 14.0, 9.225, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 36.0, 13.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.7208, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 22.0, 7.725, 0.0, 1.0, 0.0],
 [3.0, 1.0, 1.0, 19.0, 15.7417, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 15.5, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 9.325, 1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0, 23.0, 83.1583, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8958, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 30.0, 13.0, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 38.0, 21.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 22.0, 7.7958, 1.0, 0.0, 1.0],
 [3.0, 1.0, 5.0, 40.0, 31.3875, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.7125, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 29.0, 26.0, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 46.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 17.0, 8.6625, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 26.0, 7.8792, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 23.0, 7.7958, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 19.0, 10.5, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 21.0, 11.5, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 28.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 56.4958, 1.0, 0.0, 1.0],
 [2.0, 2.0, 1.0, 12.0, 39.0, 0.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 11.5, 14.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 32.5, 211.5, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.2292, 1.0, 0.0, 0.0],
 [1.0, 2.0, 0.0, 59.0, 51.4792, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0, 45.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 23.0, 7.8542, 0.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 26.0, 22.025, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.225, 1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 63.0, 221.7792, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 32.0, 8.05, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0, 6.95, 0.0, 1.0, 0.0],
 [3.0, 1.0, 1.0, 6.0, 15.2458, 1.0, 0.0, 0.0],
 [2.0, 2.0, 0.0, 24.0, 31.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 28.5, 27.7208, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 22.0, 21.0, 0.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 30.0243347639485, 14.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 2.0, 26.0, 13.775, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 26.0, 7.775, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.55, 1.0, 0.0, 1.0],
 [1.0, 1.0, 3.0, 61.0, 262.375, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 32.0, 22.525, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.1125, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 20.0, 7.8542, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 31.0, 134.5, 0.0, 0.0, 0.0],
 [2.0, 2.0, 0.0, 22.0, 31.5, 1.0, 0.0, 1.0],
 [3.0, 4.0, 1.0, 10.0, 29.125, 1.0, 1.0, 0.0],
 [3.0, 3.0, 1.0, 6.0, 21.075, 1.0, 0.0, 1.0],
 [1.0, 1.0, 1.0, 50.0, 211.5, 0.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 25.0, 10.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 42.0, 26.55, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 28.0, 7.25, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.05, 1.0, 0.0, 1.0],
 [2.0, 0.0, 1.0, 43.0, 21.0, 1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0, 22.0, 59.4, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 18.0, 14.4542, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 26.0, 13.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 23.0, 8.05, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.775, 1.0, 0.0, 1.0],
 [3.0, 0.0, 2.0, 13.0, 20.25, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [2.0, 0.0, 0.0, 61.0, 12.35, 1.0, 1.0, 0.0],
 [2.0, 0.0, 0.0, 26.0, 13.5, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 44.0, 13.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8958, 1.0, 0.0, 1.0],
 [2.0, 2.0, 1.0, 20.0, 23.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 27.0, 15.0333, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8792, 0.0, 1.0, 0.0],
 [2.0, 0.0, 0.0, 31.0, 21.0, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 49.0, 0.0, 1.0, 0.0, 1.0],
 [3.0, 2.0, 0.0, 30.0243347639485, 23.25, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 28.0, 22.525, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 55.0, 27.7208, 0.0, 0.0, 0.0],
 [1.0, 0.0, 0.0, 33.0, 27.7208, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0, 7.6292, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 26.0, 7.8958, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 39.0, 108.9, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8958, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 7.8542, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 27.0, 7.8792, 0.0, 1.0, 0.0],
 [2.0, 0.0, 0.0, 24.0, 13.5, 1.0, 0.0, 1.0],
 [3.0, 1.0, 2.0, 30.0243347639485, 23.45, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 26.0, 13.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 20.0, 7.925, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 25.0, 9.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.2292, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 23.0, 10.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 31.0, 28.5375, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 18.0, 73.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 27.0, 7.225, 1.0, 0.0, 0.0],
 [1.0, 0.0, 2.0, 6.0, 134.5, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 41.0, 13.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 28.0, 7.775, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0, 164.8667, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 23.0, 93.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 1.0, 45.0, 63.3583, 0.0, 0.0, 0.0],
 [2.0, 1.0, 2.0, 49.0, 65.0, 1.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 1.0, 16.7, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 24.0, 10.5, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [3.0, 1.0, 1.0, 9.0, 15.2458, 0.0, 0.0, 0.0],
 [3.0, 0.0, 2.0, 36.0, 12.1833, 0.0, 0.0, 1.0],
 [3.0, 2.0, 0.0, 21.0, 24.15, 1.0, 0.0, 1.0],
 [3.0, 4.0, 2.0, 38.0, 7.775, 0.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 39.0, 71.2833, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 7.75, 0.0, 1.0, 0.0],
 [3.0, 1.0, 1.0, 2.0, 20.2125, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 57.0, 13.0, 1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 27.0, 136.7792, 1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0, 36.0, 262.375, 0.0, 0.0, 0.0],
 [3.0, 1.0, 1.0, 7.0, 15.2458, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 7.25, 1.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 47.0, 227.525, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 18.0, 8.6625, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0243347639485, 26.0, 1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 43.0, 55.4417, 0.0, 0.0, 0.0],
 [3.0, 0.0, 2.0, 36.0, 15.9, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 40.5, 15.1, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 18.5, 13.0, 1.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 1.0, 12.1833, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.225, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 0.0, 1.0, 0.0],
 [3.0, 0.0, 1.0, 39.0, 13.4167, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 6.4375, 1.0, 0.0, 0.0],
 [1.0, 1.0, 2.0, 27.0, 52.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 30.0, 13.0, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 62.0, 9.6875, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 7.225, 1.0, 0.0, 0.0],
 [1.0, 0.0, 1.0, 21.0, 61.3792, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 36.0, 9.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 27.0, 7.8542, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 55.0, 135.6333, 0.0, 0.0, 0.0],
 [2.0, 1.0, 0.0, 60.0, 26.0, 0.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 3.0, 13.775, 0.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 30.0, 21.0, 1.0, 0.0, 1.0],
 [1.0, 1.0, 1.0, 55.0, 93.5, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 46.0, 75.2417, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 17.0, 73.5, 1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 30.0, 57.75, 1.0, 0.0, 0.0],
 [1.0, 0.0, 0.0, 17.0, 47.1, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 41.0, 15.0458, 1.0, 0.0, 0.0],
 [3.0, 1.0, 0.0, 30.0243347639485, 6.4375, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 30.0243347639485, 12.875, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 20.0, 26.0, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.55, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.7792, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 18.0, 8.05, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 30.0243347639485, 51.8625, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 33.0, 151.55, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 24.0, 7.775, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 33.0, 8.05, 1.0, 0.0, 1.0],
 [3.0, 0.0, 2.0, 39.0, 7.2292, 1.0, 0.0, 0.0],
 [3.0, 1.0, 2.0, 0.17, 20.575, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 21.0, 7.775, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 25.0, 31.5, 1.0, 0.0, 1.0],
 [1.0, 1.0, 2.0, 30.0, 151.55, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 41.0, 7.85, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 29.0, 26.0, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 42.0, 26.55, 1.0, 0.0, 1.0],
 [2.0, 0.0, 2.0, 29.0, 23.0, 0.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 34.0, 26.0, 1.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 24.0, 27.7208, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 21.0, 7.75, 1.0, 1.0, 0.0],
 [1.0, 0.0, 0.0, 36.0, 31.6792, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 18.0, 7.75, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 30.0243347639485, 14.4542, 0.0, 0.0, 0.0],
 [3.0, 0.0, 2.0, 0.33, 14.4, 1.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 40.0, 16.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.7333, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 0.0, 1.0, 0.0],
 [2.0, 0.0, 0.0, 35.0, 12.35, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 14.5, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 34.5, 7.8292, 1.0, 1.0, 0.0],
 [3.0, 1.0, 0.0, 30.0243347639485, 15.5, 0.0, 1.0, 0.0],
 [3.0, 2.0, 0.0, 30.0243347639485, 21.6792, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 27.0, 7.8958, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 38.5, 7.25, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 35.0, 7.75, 0.0, 1.0, 0.0],
 [2.0, 1.0, 0.0, 21.0, 11.5, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 36.0, 7.25, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 19.0, 16.1, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 22.5, 7.225, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 25.0, 7.2292, 1.0, 0.0, 0.0],
 [2.0, 1.0, 1.0, 8.0, 26.0, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 22.0, 7.225, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 29.0, 13.8583, 1.0, 0.0, 0.0],
 [2.0, 0.0, 3.0, 36.0, 39.0, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8792, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8792, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 7.8958, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 32.0, 7.775, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 25.0, 26.0, 1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 57.0, 146.5208, 1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 43.0, 27.7208, 1.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 54.0, 55.4417, 1.0, 0.0, 0.0],
 [2.0, 0.0, 0.0, 47.0, 10.5, 1.0, 0.0, 1.0],
 [1.0, 3.0, 2.0, 28.0, 263.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 30.0243347639485, 15.5792, 1.0, 0.0, 0.0],
 [1.0, 1.0, 1.0, 57.0, 164.8667, 1.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 76.0, 78.85, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 1.0, 0.0, 1.0],
 [3.0, 1.0, 0.0, 30.0243347639485, 14.4583, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 7.55, 1.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 22.0, 12.2875, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 18.5, 7.2833, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 29.0, 7.925, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 37.0, 7.75, 0.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 7.8208, 1.0, 1.0, 0.0],
 [1.0, 0.0, 1.0, 22.0, 61.9792, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [1.0, 1.0, 1.0, 27.0, 247.5208, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 24.0, 8.05, 1.0, 0.0, 1.0],
 [3.0, 3.0, 0.0, 31.0, 18.0, 1.0, 0.0, 1.0],
 [1.0, 1.0, 4.0, 60.0, 263.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 22.0, 10.5, 0.0, 0.0, 1.0],
 [2.0, 0.0, 2.0, 15.0, 39.0, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 60.0, 76.2917, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 25.0, 7.925, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 43.0, 7.8958, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 1.0, 9.0, 3.1708, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 22.0, 8.9625, 0.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 32.0, 7.5792, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 0.0, 1.0, 0.0],
 [1.0, 0.0, 0.0, 47.0, 42.4, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 21.0, 26.55, 0.0, 0.0, 1.0],
 [3.0, 1.0, 9.0, 30.0243347639485, 69.55, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 49.0, 26.0, 1.0, 0.0, 1.0],
 [1.0, 0.0, 2.0, 64.0, 83.1583, 0.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 7.7958, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 60.5, 32.76351649484536, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 45.0, 29.7, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 8.6625, 0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 50.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.2292, 1.0, 0.0, 0.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.75, 1.0, 1.0, 0.0],
 [3.0, 0.0, 0.0, 21.0, 8.05, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 8.05, 1.0, 0.0, 1.0],
 [1.0, 0.0, 0.0, 41.0, 30.5, 1.0, 0.0, 1.0],
 [3.0, 1.0, 2.0, 33.0, 20.575, 0.0, 0.0, 1.0],
 [1.0, 1.0, 1.0, 53.0, 81.8583, 1.0, 0.0, 1.0],
 [2.0, 1.0, 1.0, 18.0, 13.0, 0.0, 0.0, 1.0],
 [2.0, 0.0, 0.0, 22.0, 10.5, 1.0, 0.0, 1.0],
 [3.0, 1.0, 1.0, 0.75, 13.775, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 23.0, 8.6625, 0.0, 0.0, 1.0],
 [2.0, 1.0, 2.0, 0.92, 27.75, 0.0, 0.0, 1.0],
 [2.0, 1.0, 0.0, 50.0, 26.0, 1.0, 0.0, 1.0],
 [3.0, 0.0, 0.0, 30.0243347639485, 7.8875, 1.0, 0.0, 1.0]]

In [ ]:
X_train_transformed.shape

(292, 8)

In [ ]:
model = LogisticRegression()

In [ ]:
y_test.shape

(126,)

In [ ]:
print(x.shape,X_train_transformed.shape,X_test_transformed.shape)

(418, 7) (292, 8) (126, 8)

In [ ]:
model.fit(X_train_transformed,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
print(y_test)

20     0
406    0
95     0
394    0
239    1
      ..
224    1
139    0
272    1
330    1
72     1
Name: Survived, Length: 126, dtype: int64

In [ ]:
X_train_prediction = model.predict(X_train_transformed)

In [ ]:
print(X_train_prediction)

[1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 1 0 1 0 0 0 1 1
 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 0
 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 0
 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 1 0 1 0 1 1 0 0
 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0
 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 0 1 0 0
 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 1 0 1 0 1 0 0 1 1 1 1
 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0]

In [ ]:
training_data_accuracy = accuracy_score(y_train,X_train_prediction)
print('accuracy', training_data_accuracy)

accuracy 1.0

In [ ]:
y_pred = model.predict(X_test_transformed)

In [ ]:
print(y_pred)

[0 0 0 0 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 1 1
 0 0 1 1 0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 1 0 1 1 0 1
 0 0 1 0 0 0 0 0 0 0 1 0 1 1 1]

In [ ]:
acc = accuracy_score(y_pred,y_test)

In [ ]:
acc

1.0